body {
    width: fit-content;
    font-family: monospace;
}

h1.m-auto {
    padding-top: 20px;
    height: 80px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 15px;
    font-family: 'Gloria Hallelujah', cursive;
}

.navbar-brand {
    padding-left: 0.1rem;
    font-size: 2.25rem;
}

.sticky-top {
    position: relative;
    top: 0;
    width: 100%;
}

.nav-link {
    padding: 0.5rem 1rem;
    color: #9b9d9e;
}

.nav-link:focus,
.nav-link:hover {
    color: lightgrey;
}

a.navbar-brand {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Footer */

/* footer.m-0 {
    display: inline-grid;
    position: fixed;
    width: 100%;
    text-align: center;
} */

.py-3 {
    position: absolute;
    font-family: 'Gloria Hallelujah', cursive;
    top: 100%;
}

footer a {
    color: black;
    font-size: x-large;
    padding-right: 8px;
}

.social:hover {
    color: #ee0f65;
}

/* Index(home) page */

ol,
ul {
    padding: 0.3rem;
}

/* Background home page image */
.hero-image {
    background: no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    color: white;
    border: 3px solid 00003f;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.btn-light {
    margin-bottom: 15px;
}

/* Latest stories section */
.latest-stories {
    margin: 0 auto;
    margin-bottom: 30px;
}


/* Small screens (iPhones) */
@media screen and (max-width: 577px) {

    /* body {
        font-size: 0.8rem;
        
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { 
        margin-bottom: 0rem;
        font-weight: 400;
        line-height: 1.0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 5px;
        font-size: medium;
    } */
}