{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}
<!-- Logged in users can leave a comment here -->
<h3 class="my-4">Add comment</h3>

<div class="form-group" placeholder="Leave your comment here">

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}
        <!-- Submit button comment -->
        <div class="d-grid">
            <button class="btn btn-dark">Add comment</button>
        </div>
    </form>
</div>

<script>
    var name = "{{user.username}}";
    document.getElementById("commenter").value = name;
</script>

{% endblock %}