{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}

<h2 class="my-4">Share your story</h2>
<p>Add new myth, folklore story or just an urban legend</p>
<br>

<div class="form-group">
    <form method="POST">

        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <div class="d-grid">
            <button class="btn btn-dark btn-lg">Post</button>
        </div>
    </form>
</div>
<script>
    var name = "{{user.id}}";
    document.getElementById("user").value = name;
</script>

{% endblock %}