{% extends 'base.html' %}
{% block title %}Add your own story{% endblock %}
{% block content %}
<!-- Logged in user can post a story here -->
<h2 class="my-4">Share your story</h2>
<p>Add new myth, folklore story or just an urban legend</p>

<br>
<!-- Basic form with required name, email and body of story -->
<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        {{ body | safe }}
        <!-- Post a new story button -->
        <div class="d-grid">
            <button class="btn btn-dark btn-lg">Post</button>
        </div>
    </form>
</div>
<script>
    var name = "{{user.id}}";
    document.getElementById("user").value = name;
</script>

{% endblock %}

