{% extends 'base.html' %}
{% comment %} {% endcomment %}

{% block title %} {% endblock %}

{% block content %}
<!-- Delete heading with story title to be deleted -->
<h4 class="my-4" style="font-style: italic;">Delete: {{post.title}}</h4>
<div class="form-group">
    <form method="POST">

        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <strong>Are you sure?</strong><br>
        <!-- Delete button -->
        <button class="btn btn-danger ">Delete</button>

    </form>
    <!-- Return button which will take user to home page -->
    <a href="{% url 'home' %}">
        <button class="btn btn-dark ">Go back</button></a>
</div>

{% endblock %}