{% extends 'base.html' %}
{% comment %} added {% endcomment %}

{% block title %} Delete post {% endblock %}

{% block content %}

<h4 class="my-4" style="font-style: italic;"> Delete: {{post.title}}</h4>
<div class="form-group">
    <form method="POST">

        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <strong>Are you sure?</strong><br />
        <button class="btn btn-danger ">Delete</button>

    </form>
    <a href="{% url 'home' %}">
        <button class="btn btn-dark ">Go back</button></a>
</div>

{% endblock %}