{% extends 'base.html' %}
{% block title %} Mythos {% endblock %}


{% block content %}

<h1 class="m-auto" style="height: 120px; width: 600px;">Top Stories</h1>
<div class="mx-auto mt-11" style="width: 800px;">
    <ol>
        {% for x in object_list %}

        <ul>
            <!-- preview of story -->
            <h5>{{ x.title }}</h5>{{ x.body|slice:":195"|safe }}...<br />
            <a href="{% url 'blog' x.pk %}">Read full story</a><br/><hr></li>
            
        </ul>

        {% endfor %}
    </ol>
</div>


{% endblock %}