{% extends 'base.html' %}
{% block title %} {{post.title_tag}} {% endblock %}

{% block content %}

<h3>{{post.title}}</h3><br />
<h6>by {{post.author }} {{ post.date_added}}</h6><br />

{% comment %} added {% endcomment %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class="user_changes">
        <small><a class="edit" href="{% url 'update_post' post.pk %}">Edit |</a></small>
        <small><a class="delete" href="{% url 'delete_post' post.pk %}">Delete</a></small>
        <hr>
        </li>
</div>
{% endif %}
{% endif %}
{% comment %} {% endcomment %}

<p>{{post.body|safe }}</p>
<br><br />
<hr>
<br />
{% if user.is_authenticated %}

<form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}

        <button type="submit" , name="post_id" , value="{{post.id}}" , class="btn btn-success me-md-2 btn-sm"
                type="button">Like</button>

</form>

{% endif %}

<b>{{total_likes}} likes</b>
<br />

<h2>Comments:</h2>

{% if not post.comments.all %} No Comments Yet
{% else %}
{% for comment in post.comments.all %}

<strong>{{comment.name}} - {{comment.date_added }}</strong><br />{{comment.body}}
<br />

{% endfor %}
{% endif %}
<br />
<a href="{% url 'comment' post.pk %}">Add comments</a>
<hr>
{% endblock %}