{% extends 'base.html' %}
{% comment %} {% endcomment %}

{% block title %} Update the post{% endblock %}

{% block content %}
{% if request.user.id == post.author.id %}
    <h2 class="py-3">Update the post</h2>
    <div class="py-3 update">
        <div class="form-group">
            <form method="POST">

                {% csrf_token %}

                {{form.media}}

                {{form.as_table}}

                <!-- Update story button -->
                <div class="d-grid">
                    <button class="btn btn-dark">Update</button>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <h2>You are not the author of this post. So you are not allowed to update it.</h2>
    <hr><br>
    <a href="{% url 'home' %}">
        <button class="btn btn-dark">Home</button></a>
{% endif %}
{% endblock %}